.form {

  &__box {
    position: relative;
    background-color: white;
    border-radius: 30px;
  }

  &__header {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 8vh;
    width: 100%;
    padding-top: 10px;
    border-radius: 30px 30px 0 0;
    color: white;
    background-color: #33B5E5FF;
    text-align: center;
    font-size: 26px;
    font-weight: 500;
  }

  &__icon {
    top: 7px;
  }

  &__btn {
    position: relative;
    z-index: 6;

    &--animated {
      &:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        top: -7px;
        left: -7px;
        z-index: 5;
        border-top: 3px solid #00C851;
        border-left: 3px solid #00C851;
        transition: 0.5s;
      }

      &:after {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        bottom: -7px;
        right: -7px;
        z-index: 6;
        border-right: 3px solid #00C851;
        border-bottom: 3px solid #00C851;
        transition: 0.5s;
      }

      &:hover::before {
        width: 100%;
        height: 100%;
      }

      &:hover::after {
        width: 100%;
        height: 100%;
      }
    }
  }

}
