<!-- Form registration -->
<form class="pt-5 px-5 pb-3 mt-5 form__box z-depth-1" [formGroup]="upSignForm">
  <!-- Form header -->
  <div class="form__header">
    Sign Up
  </div>
  <!-- First Name -->
  <div class="md-form">
    <mdb-icon class="prefix form__icon" fas icon="user"></mdb-icon>
    <input mdbInput mdbValidate formControlName="firstName" type="text" id="firstName"
           class="form-control">
    <label for="firstName">Type your first name*</label>
    <mdb-error *ngIf="firstNameForm.invalid && (firstNameForm.dirty || firstNameForm.touched)">
      <span *ngIf="firstNameForm.errors.required">First name is required</span>
      <span *ngIf="firstNameForm.errors.minlength">Please enter at least 2 characters</span>
      <span *ngIf="firstNameForm.errors.maxlength">Please enter at most	20 characters</span>
      <span *ngIf="firstNameForm.errors.pattern && !firstNameForm.errors.minlength">Enter only latin letters</span>
    </mdb-error>
  </div>
  <!-- Last Name -->
  <div class="md-form">
    <mdb-icon class="prefix form__icon" fas icon="user"></mdb-icon>
    <input mdbInput mdbValidate formControlName="lastName" type="text" id="lastName"
           class="form-control">
    <label for="lastName">Type your last name*</label>
    <mdb-error *ngIf="lastNameForm.invalid && (lastNameForm.dirty || lastNameForm.touched)">
      <span *ngIf="lastNameForm.errors.required">First name is required</span>
      <span *ngIf="lastNameForm.errors.minlength">Please enter at least 2 characters</span>
      <span *ngIf="lastNameForm.errors.maxlength">Please enter at most 20 characters</span>
      <span *ngIf="lastNameForm.errors.pattern && !lastNameForm.errors.minlength">Please enter only latin letters</span>
    </mdb-error>
  </div>
  <!-- Email -->
  <div class="md-form">
    <mdb-icon class="prefix form__icon" fas icon="envelope"></mdb-icon>
    <input mdbInput mdbValidate formControlName="email" type="email"
           class="form-control" id="email">
    <label for="email">Type your email*</label>
    <mdb-error *ngIf="emailForm.invalid && (emailForm.dirty || emailForm.touched)">
      <span *ngIf="emailForm.errors.required">Email is required</span>
      <span *ngIf="emailForm.errors.email">Enter valid email address</span>
    </mdb-error>
  </div>
  <div formGroupName="passwordGroup">
    <!-- Password -->
    <div class="md-form">
      <mdb-icon class="prefix btn-lock form__icon" fas (click)="$event.stopPropagation(); isHidePass = !isHidePass"
                [class.fa-lock]="isHidePass" [class.fa-unlock]="!isHidePass"></mdb-icon>
      <input mdbInput mdbValidate formControlName="password" autocomplete="off"
             [type]="isHidePass ? 'password' : 'text'" class="form-control" id="password">
      <label for="password">Type your password*</label>
      <mdb-error *ngIf="passwordForm.invalid && (passwordForm.dirty || passwordForm.touched)">
        <span *ngIf="passwordForm.errors.required">Password is required</span>
        <span *ngIf="passwordForm.errors.minlength">Please enter at least 4 characters</span>
      </mdb-error>
    </div>
    <!-- Confirm password -->
    <div class="md-form">
      <mdb-icon class="prefix btn-lock form__icon" fas
                (click)="$event.stopPropagation(); isHidePassConf = !isHidePassConf"
                [class.fa-lock]="isHidePassConf" [class.fa-unlock]="!isHidePassConf"></mdb-icon>
      <input mdbInput mdbValidate formControlName="confirmPassword" autocomplete="off"
             [type]="isHidePassConf ? 'password' : 'text'" class="form-control" id="confirmPassword">
      <label for="confirmPassword">Confirm your password*</label>
      <mdb-error *ngIf="passwordConfForm.invalid && (passwordConfForm.dirty || passwordConfForm.touched)">
        <span *ngIf="passwordConfForm.errors.required">Confirm password is required</span>
        <span
          *ngIf="passwordConfForm.errors.incorrect && !passwordConfForm.errors.required">The password does not match</span>
      </mdb-error>
    </div>
  </div>
  <!-- Alarm -->
  <div *ngIf="upSignForm.invalid && isAlarmForm" class="alert alert-danger text-center form-alert" role="alert">
    Please correctly fill out all the fields
  </div>
  <!-- Submit button -->
  <button mdbBtn color="outline-success" block="true" class="my-4 mx-auto rounded form__btn" type="submit"
          (click)="signUp()">Sign Up
  </button>
  <!-- Register -->
  <p class="text-center">Already have an account?
    <a routerLink="/auth/sign-in">Log in</a>
  </p>
</form>
