<div class="container-fluid">
  <!-- Logo -->
  <div class="row justify-content-center mt-5">
    <img src="./assets/icons/trello-form-logo.PNG" style="border-radius: 45px" alt="logo-form">
  </div>
  <!-- Wrapper -->
  <div class="row justify-content-center">
    <!-- Form login -->
    <form class="p-5 mt-5 form-box">

      <!-- Alarm -->
      <div  class="alert alert-danger text-center form-alert" role="alert">
        Please fill out all the fields
      </div>
      <div  class="alert alert-danger text-center form-alert" role="alert">
        There isn't an account for this email
      </div>
      <div class="alert alert-danger text-center form-alert" role="alert">
        The entered password is incorrect
      </div>
      <!-- Submit button -->
      <button mdbBtn color="info" block="true" class="my-4" type="submit">Sign in</button>
      <!-- Register -->
      <p class="text-center">Already have an account?
        <a routerLink="/auth/sign-in">Log in</a>
      </p>
    </form>
  </div>
  <!-- Background image -->
  <div class="background-image">
    <div class="background-image__left"><img class="background-image--left" src="assets/images/bottom-left-auth-pic.png"
                                             alt="bottom left auth pic"></div>
    <div class="background-image__right"><img class="background-image--right"
                                              src="assets/images/bottom-right-auth-pic.png" alt="bottom right auth pic">
    </div>
  </div>
</div>
