.form {
  &__box {
    margin-bottom: 80px;
    min-width: 400px;
  }
  &__btn {
    max-width: 50%;
  }
  &__icon {
    transform: scale(0.8);
    top: 10px;
    left: 10px;
  }
}

.form-alert {
  font-size: 14px;
}


