<div class="container">
  <ul class="mt-4 d-flex"
      cdkDropList
      cdkScrollable
      cdkDropListGroup
      [cdkDropListData]="board.boardColumn"
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
  >
    <li *ngFor="let itemColumn of board.boardColumn"
        class="m-2 z-depth-1 list_li"
        cdkDrag>
      <div class="d-flex flex-column justify-content-between board__content list">
        <!-- Board link -->
        <div class="d-flex justify-content-between flex-column">
          <!-- Board name -->
          <h4 class="board__name" cdkDragHandle>{{itemColumn.columnName}}</h4>
          <!-- Board favorite button -->
          <ul cdkDropList
              [cdkDropListData]="itemColumn.columnTask"
              (cdkDropListDropped)="drop($event)"
          >
            <li
              *ngFor="let taskColumn of itemColumn.columnTask" class="nested__list" cdkDrag
            >
              <p>{{taskColumn.taskName}}</p>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>
</div>
