.as {
  overflow: auto;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  height: 90vh;
  width: 100vw;
}
.column {

  &__container {

  }
&__wrapper {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  margin: 0 4px;
  vertical-align: top;
  white-space: nowrap;
  width: 272px;
}
  &__item {
    font-family: Segoe UI, Roboto, sans-serif;
    border: #03a9f4 solid 1px;
    display: block;
    width: 272px;
    height: 100%;
  }

  &__add-btn {
    height: 40px;
    background-color: initial;
    cursor: pointer;
  }
}

ul {

  padding-inline-start: 0;
}

.nested__list {
  border: #37f403 solid 1px;
}

ul {

}

li {
  list-style-type: none;
}


.list {

}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 100ms cubic-bezier(.17, .67, .87, .54);
}


