<div class="column">
  <!-- Column container -->
  <ul class="mt-4 d-flex"
      cdkDropList
      cdkScrollable
      cdkDropListGroup
      [cdkDropListData]="board.boardColumn"
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="drop($event)"
  >
    <!-- Column list -->
    <div *ngFor="let itemColumn of board.boardColumn, let i = index" class="m-2 z-depth-1 column__container" cdkDrag>
      <li class="p-2 z-depth-1 column__item">
        <!-- Column name -->
        <p class="px-2 column__name" cdkDragHandle>{{itemColumn.columnName}}</p>
        <!-- Task container -->
        <ul cdkDropList
            [cdkDropListData]="itemColumn.columnTask"
            (cdkDropListDropped)="drop($event)"
            class="task__container"
        >
          <!-- Task list -->
          <li *ngFor="let taskColumn of itemColumn.columnTask" class="m-2 p-2 task__item z-depth-1" cdkDrag>
            <!-- Task name -->
            <p>{{taskColumn.taskName}}</p>
          </li>
          <!-- Task addition form -->
          <form [formGroup]="addTaskItem" class="task__form">
            <!-- Button view - new task -->
            <div *ngIf="isAddTask !== itemColumn.columnId">
              <button class="task__item task__add-btn"
                      (click)="isAddTask = itemColumn.columnId">
                <mdb-icon class="fa" fas icon="plus" style="color: #172b4d;"></mdb-icon>
                Add a new task
              </button>
            </div>
            <!-- Form view - new task -->
            <div *ngIf="isAddTask === itemColumn.columnId" class="p-2 m-2 task__form--switch">
              <input mdbInput formControlName="taskName" autocomplete="off"
                     type="text" class="form-control mb-1" placeholder="Enter task name"
                     *ngIf="isAddTask" [id]="i">
              <div class="d-flex justify-content-start">
                <button type="submit" mdbBtn color="primary" class="m-1 p-2 waves-light relative rounded task__sub-btn"
                        (click)="addTask(addTaskItem.value, itemColumn.columnId)">Add a task
                </button>
                <button type="button" class="ml-2 close" aria-label="Close" (click)="isAddTask = null">
                  <mdb-icon class="prefix task__form__icon" fas icon="times"></mdb-icon>
                </button>
              </div>
            </div>
          </form>
        </ul>
      </li>
    </div>
    <!-- Column addition form -->
    <form [formGroup]="addColumnItem" class="column__form">
      <!-- Button view - new task -->
      <div *ngIf="!isAddColumn">
        <button class="m-2 column__item column__add-btn"
                (click)="isAddColumn = !isAddColumn">
          <mdb-icon class="fa" fas icon="plus" style="color: #172b4d;"></mdb-icon>
          Add а new column
        </button>
      </div>
      <!-- Form view - new column -->
      <div *ngIf="isAddColumn" class="p-2 m-2 column__form--switch">
        <input mdbInput formControlName="columnName" autocomplete="off"
               type="text" class="form-control mb-1" placeholder="Enter column name"
               *ngIf="isAddColumn">
        <div class="d-flex justify-content-start">
          <button type="submit" mdbBtn color="primary" class="m-1 p-2 waves-light relative rounded column__sub-btn"
                  (click)="addColumn(addColumnItem.value)">Add a column
          </button>
          <button type="button" class="ml-2 close" aria-label="Close" (click)="isAddColumn = !isAddColumn">
            <mdb-icon class="prefix form__icon" fas icon="times"></mdb-icon>
          </button>
        </div>
      </div>
    </form>
  </ul>
</div>


