body {
  background-color: rgb(247, 247, 247);
}

.btn-lock {
  cursor: pointer;
}

.background-image {
  position: fixed;
  z-index: -100;
  height: 100%;
  width: 100%;
  top: 0;
  margin-left: -15px;

  &--left {
    position: absolute;
    bottom: 2px;
    left: 0;
    max-width: 40%;
    width: 400px;
  }

  &--right {
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 400px;
    max-width: 40%;
  }
}
