<div class="container-fluid">
  <!-- Logo -->
  <div class="row justify-content-center mt-5">
    <img src="assets/images/auth-top-form-logo.png" style="border-radius: 45px" alt="logo-form">
  </div>
  <!-- Wrapper -->
  <div class="row justify-content-center">
    <!-- Form login -->
    <router-outlet></router-outlet>
  </div>
  <!-- Background image -->
  <div class="background-image">
    <div class="background-image__left"><img class="background-image--left" src="assets/images/auth-bottom-left-bg.png"
                                             alt="bottom left auth pic"></div>
    <div class="background-image__right"><img class="background-image--right"
                                              src="assets/images/auth-bottom-right-bg.png" alt="bottom right auth pic">
    </div>
  </div>
</div>
