<!-- Modal window -->
<div class="modal-content"
     (click)="toggleFormView()">
  <!-- Modal body -->
  <div class="modal-body p-0">
    <!-- Close button -->
    <button type="button" class="close pull-right mt-2 mx-1 modal-body__btn" aria-label="Close" (click)="closeBoard()">
      <span aria-hidden="true"
            [style.color]="editTaskForm.value.taskBackground === '#172B4D'? 'white' : ''"
      >×</span>
    </button>
    <div class="task__header-color"
         *ngIf="editTaskForm.value.taskBackground"
         [style.background-color]="editTaskForm.value.taskBackground"
    ></div>
    <!-- Task form -->
    <form class="p-0 m-0 form-row form" [formGroup]="editTaskForm">
      <div class="task__name p-0 m-0 col-12" (click)="$event.stopPropagation()">
        <!-- Form view - task name -->
        <a class="task__name__link" (click)="toggleBtnTaskName(task.taskId)">
          <div *ngIf="toggleEditTaskName === null"
               class="px-3 d-flex m-3 align-items-baseline justify-content-center"
          >
            <!-- Task name -->
            <i class="fa-lg fas fa-window-maximize m-2 task__name__icon"></i>
            <p class="task__name__text">{{editTaskForm.value.taskName}}</p>
          </div>
        </a>
        <!-- Form view - edit task name -->
        <div *ngIf="toggleEditTaskName"
             class="task__name__link"
             [style.right]="task.taskBackground ? '0px' : '20px'"
        >
          <div class="d-flex px-3 m-2 align-items-baseline">
            <i class="fa-lg fas fa-window-maximize m-2 task__name__icon"
               style="color: #0079bf"></i>
            <input mdbInput formControlName="taskName" autocomplete="off"
                   type="text" class="form-control" appAutoFocus (keyup.enter)="toggleFormView()"
            >
          </div>
        </div>
      </div>
      <!-- Task tag -->
      <div *ngIf="task.taskTag.length" class="col-8 ml-5">
      <p class="task__modal__text pl-2 mt-0">Tags</p>
      <div class="d-flex mb-2">
        <div *ngFor="let tagTask of task.taskTag; let i = index" class="task__tag">
            <span class="task__tag__name py-1 px-2 m-1"
                  [style.background-color]="tagTask.tagBackground"
            >
              <a class="task__tag__link" (click)="toggleBtnEditTag(); tagsModal.show()">
            </a>{{tagTask.tagName}}
          </span>
        </div>
        <button
          type="button"
          class="rounded task__tag__btn m-1"
          (click)="tagsModal.show(); toggleBtnEditTag(null,tags.length)"
        >
          <mdb-icon class="fa" fas icon="plus" style="color: #172b4d;"></mdb-icon>
        </button>
      </div>
      </div>
      <!-- Task description -->
      <div class="col-9" (click)="$event.stopPropagation()">
        <div class="d-flex px-2 mx-2 mb-1 align-items-baseline">
          <i class="fas fa-align-justify task__desc__icon"></i>
          <p class="task__desc__text-header mb-2">Description</p>
          <span *ngIf="!toggleEditTaskDesc && editTaskForm.value.taskDesc">
          <button
            type="button"
            class="rounded task__desc__btn task__desc__btn--edit p-2"
            (click)="toggleBtnTaskDesc(task.taskId)"
          >Edit
          </button>
          </span>
        </div>
        <!-- Form view - description name -->
        <div>
          <a (click)="toggleBtnTaskDesc(task.taskId)">
            <!-- Description -->
            <div *ngIf="toggleEditTaskDesc !== task.taskId">
            <pre *ngIf="editTaskForm.controls.taskDesc.value"
                 class="ml-5 task__desc__text"
            >{{editTaskForm.value.taskDesc}}
              </pre>
              <pre *ngIf="!editTaskForm.controls.taskDesc.value"
                   class="ml-5 task__desc__text task__desc__text--empty"
              >Add a more detailed description...
              </pre>
            </div>
          </a>
          <!-- Form view - edit description -->
          <div *ngIf="toggleEditTaskDesc === task.taskId"
               class="d-flex flex-column ml-5"
          >
              <textarea mdbInput formControlName="taskDesc" autocomplete="off"
                        type="text" class="form-control task__desc__text--input"
                        appAutoFocus #textAreaDesc
                        [value]="editTaskForm.value.taskDesc"
                        [style.height]="heightTextAreaDescription(textAreaDesc)"
                        [style.overflow]="textAreaDesc.scrollHeight < 250 ? 'hidden' : 'auto'"
              >
              </textarea>
            <div>
              <!-- Submit button -->
              <button type="submit" mdbBtn color="primary"
                      class="rounded task__desc__btn p-2"
                      (click)="toggleFormView()"
              >Save
              </button>
              <!-- Cancel button -->
              <button type="button" mdbBtn
                      class="rounded task__desc__btn task__desc__btn--close p-2"
                      (click)="cancelChangeTextArea()"
              >Cancel
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal window for cover-->
      <div mdbModal #coverModal="mdbModal" class="modal modal-sm modal-frame modal-bottom" tabindex="-1" role="dialog"
           aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false}">
        <div class="modal-side modal-sm" role="document">
          <div class="modal-content">
            <!-- Modal body -->
            <p class="task__modal__header my-1">Cover</p>
            <button type="button" class="close pull-right mt-1 task__m-close-btn" aria-label="Close"
                    (click)="coverModal.hide()"
            >
              <span aria-hidden="true">×</span>
            </button>
            <!-- Modal list of cover -->
            <div class="modal-body d-flex flex-column align-items-start pt-1 pb-0">
              <p class="task__modal__text mt-0">Colors</p>
              <div class="d-flex flex-wrap task__modal__card mt-0">
                <li class="radio-group" *ngFor="let item of bgTask; let i = index">
                  <input type="radio" formControlName="taskBackground" [value]="item.taskBackground"
                         id="taskBackground+{{i}}"
                         name="taskBackground" mdbInput
                  >
                  <label for="taskBackground+{{i}}" [style.background-color]=item.taskBackground>
                    <mdb-icon fas icon="check" class="radio-group--icon"></mdb-icon>
                    <span class="radio-group--fade"></span>
                  </label>
                </li>
                <!-- No covers -->
                <p class="task__modal__text m-0 px-2 pb-3 ">
                  <span [style.color]="'#172b4d'">No cover.</span>
                  <br/>
                  This won't show up on the header of cards.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal window for tags-->
      <div mdbModal #tagsModal="mdbModal" class="modal modal-sm modal-frame modal-bottom" tabindex="1" role="dialog"
           aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false}">
        <div class="modal-side modal-sm" role="document"
        >
          <!-- Toggle content task - list-->
          <div *ngIf="!toggleEditTag else changeTagView">
            <div class="modal-content modal-dialog-scrollable">
              <!-- Modal body -->
              <p class="task__modal__header my-1">Tags</p>
              <button type="button" class="close pull-right mt-1 task__m-close-btn" aria-label="Close"
                      (click)="tagsModal.hide()"
              >
                <span aria-hidden="true">×</span>
              </button>
              <!-- Modal list of tags -->
              <div class="modal-body d-flex flex-column align-items-start pt-1 pb-0 modal-body--height"
                   [style.max-height]="editTaskForm.value.taskBackground ? '390px' : '290px'"
              >
                <p class="task__modal__text mt-0">Tags</p>
                <div class="d-flex flex-column task__modal__card mt-0 mb-3">
                  <li class="checkbox-group d-flex align-items-center" *ngFor="let item of tags; let i = index">
                    <input type="checkbox"
                           id="taskTag+{{i}}"
                           name="taskTag" mdbInput
                           [checked]="checkTagActive(item.tagId, task.taskId)"
                           (change)="toggleTags($event, i)"
                    >
                    <label for="taskTag+{{i}}" [style.background-color]=item.tagBackground>
                      <p class="p-0"
                         [style.color]="item.tagBackground === '#344563'? 'white' : ''"
                      >{{item.tagName}}</p>
                      <mdb-icon fas icon="check" class="checkbox-group--icon"
                                [class.checkbox-group--icon--reverse]="item.tagBackground === null || ''"
                      ></mdb-icon>
                      <span class="checkbox-group--fade"></span>
                    </label>
                    <!-- Tag edit button -->
                    <button type="button" class="checkbox-group__btn-edit"
                            (click)="toggleBtnEditTag(item.tagId)"
                    >
                      <mdb-icon fas icon="pencil-alt"></mdb-icon>
                    </button>
                    <!-- Button view - new task -->
                  </li>
                  <div>
                    <button class="rounded task__desc__btn task__desc__btn--edit task__modal__add-btn mt-1"
                            (click)="toggleBtnEditTag(null,tags.length)"
                    >
                      <mdb-icon class="fa" fas icon="plus" style="color: #172b4d;"></mdb-icon>
                      Add a new tag
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Toggle content task - change-->
          <ng-template #changeTagView>
            <div class="modal-content modal-dialog-scrollable">
              <!-- Modal body -->
              <p *ngIf="toggleEditTag !== tags.length.toString() else AddTagHeaderView"
                 class="task__modal__header my-1"
              >Change tag</p>
              <ng-template #AddTagHeaderView>
                <p class="task__modal__header my-1"
                >Create a tag</p>
              </ng-template>
              <button type="button" class="pull-right mt-1 task__modal__change-btn"
                      (click)="toggleBtnEditTag(null)"
              ><i class="fas fa-chevron-left"></i>
              </button>
              <button type="button" class="close pull-right mt-1 task__m-close-btn" aria-label="Close"
                      (click)="tagsModal.hide()"
              ><span aria-hidden="true">×</span>
              </button>
              <!-- Modal list of tags background -->
              <form [formGroup]="editTagForm">
                <div class="modal-body d-flex flex-column align-items-start pt-1 pb-0 modal-body--height"
                     style="max-height:290px"
                >
                  <div class="d-flex flex-column task__modal__card task__modal__card--edit mt-0 mb-3">
                    <p class="task__modal__text mt-0">Name</p>
                    <input mdbInput formControlName="tagName" autocomplete="off"
                           type="text" class="form-control my-2 task__modal__input" id="tagName"

                    >
                    <p class="task__modal__text mt-0">Select a color</p>
                    <div class="d-flex flex-wrap task__modal__card mt-0">
                      <li class="radio-group" *ngFor="let item of bgTag; let i = index">
                        <input type="radio" formControlName="tagBackground" [value]="item.tagBackground"
                               id="tagBackground+{{i}}"
                               name="tagBackground" mdbInput
                        >
                        <label for="tagBackground+{{i}}" [style.background-color]=item.tagBackground>
                          <mdb-icon fas icon="check" class="radio-group--icon"></mdb-icon>
                          <span class="radio-group--fade"></span>
                        </label>
                      </li>
                      <!-- No background of tag -->
                      <p class="task__modal__text m-0 px-2 pb-1">
                        <span [style.color]="'#172b4d'">No background.</span>
                        <br/>
                        This won't show up on the background of tag.
                      </p>
                    </div>
                    <!-- Edit tag - bottom button -->
                    <div *ngIf="toggleEditTag !== tags.length.toString() else AddTagBtnView"
                         class="d-flex justify-content-between"
                    >
                      <button type="button" mdbBtn color="primary" class="rounded px-3 py-2"
                              style="text-transform: none; width: 95px"
                              (click)="toggleBtnEditTag(null); editTag(editTagForm.value)"
                      >
                        <mdb-icon fas icon="pencil-alt pr-1"></mdb-icon>
                        Edit
                      </button>
                      <button type="button" mdbBtn color="outline-danger" class="rounded px-3 py-2"
                              style="text-transform: none"
                              (click)="toggleBtnEditTag(null); deleteTag(editTagForm.value.tagId)"
                      >
                        <mdb-icon fas icon="pencil-alt pr-1"></mdb-icon>
                        Delete
                      </button>
                    </div>
                    <!-- Add tag - bottom button -->
                    <ng-template #AddTagBtnView>
                      <div class="d-flex justify-content-between">
                        <button type="button" mdbBtn color="primary" class="rounded px-3 py-2"
                                style="text-transform: none"
                                (click)="toggleBtnEditTag(null); addTag(editTagForm.value)"
                        >
                          <mdb-icon fas icon="pencil-alt pr-1"></mdb-icon>
                          Add
                        </button>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </form>
            </div>
          </ng-template>
        </div>
      </div>

      <!-- Task manager -->
      <div class="col-3 d-flex flex-column">
        <p class="task__sidebar__header mx-1 my-0 pb-2">Add to card</p>
        <!-- Cover button -->
        <button type="button" class="task__sidebar__btn justify-content-center m-1"
                (click)="coverModal.show()"
                mdbWavesEffect
        ><i class="fas fa-sm fa-book-open p-2"></i>
          Cover
        </button>
        <!-- Tags button -->
        <button type="button" class="task__sidebar__btn justify-content-center m-1"
                (click)="toggleBtnEditTag(); tagsModal.show()"
                mdbWavesEffect
        ><i class="fas fa-sm fa-tags p-2"></i>
          Tags
        </button>
        <button type="button" class="task__sidebar__btn justify-content-center m-1"
                (click)="tagsModal.show()"
                mdbWavesEffect
        ><i class="fas fa-sm fa-calendar-alt p-2"></i>
          Dates
        </button>
        <button type="button" class="task__sidebar__btn justify-content-center m-1"
                (click)="tagsModal.show()"
                mdbWavesEffect
        ><i class="fas fa-sm fa-user-friends p-2"></i>
          Members
        </button>
      </div>
      <div class="mr-3 m-2 p-2 d-flex align-items-end justify-content-end w-100">
        <!-- Submit button -->
        <button type="submit" mdbBtn color="outline-success" class="rounded task__bottom-btn p-0"
                (click)="fff()" mdbWavesEffect>Edit
        </button>
        <!-- Cancel button -->
        <button type="button" mdbBtn color="outline-danger" class="rounded task__bottom-btn p-0" aria-label="Close"
                (click)="closeBoard()"
                mdbWavesEffect>Cancel
        </button>
      </div>
    </form>
  </div>
</div>
