li {
  list-style-type: none;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.modal-content {
  background-color: #F4F5F7;
}

.modal-body {
  &__btn {
    position: relative;
    z-index: 20;
    transform: scale(1.2);
  }

  &--height {
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 9px;
    }

    &::-webkit-scrollbar-track {
      background: rgba(185, 189, 197, 0.4);
      border-radius: 8px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background: rgba(185, 189, 197, 0.8);
    }

    &::-webkit-scrollbar-thumb:hover {
      background: rgba(185, 189, 197, 1);
    }
  }

}

.form {
  min-height: 370px;
}

.task {

  &__header-color {
    height: 100px;
    border-radius: 2px 2px 0 0;
  }

  &__name {
    position: relative;
    min-height: 60px;

    & input {
      overflow: hidden;
      overflow-wrap: break-word;
      background-color: #fff;
      box-shadow: inset 0 0 0 2px #0079bf;
      display: inline-block;
      transition: margin 85ms ease-in, background 85ms ease-in;
      font-size: 20px;
      font-weight: 500;
      margin-left: 20px;
      color: #172B4D;
    }

    &__link {
      position: absolute;
      top: 0;
      left: 0;
      right: 20px;
      height: 56px;
    }

    &__content {
      position: absolute;
      top: 0;
      left: 0;
      right: 20px;
    }

    &__text {
      font-size: 20px;
      font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", sans-serif;
      font-weight: 500;
      line-height: 24px;
      margin-left: 25px !important;
      min-width: 696px;
      color: #172B4D;
      padding: 3px;
    }

    &__icon {
      position: absolute;
      color: #42526E;
      top: 20px;
      left: 12px;
    }
  }

  &__tag {
    position: relative;
    display: inline-block;

    &__link {
      z-index: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 3px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.09);
      }
    }

    &__name {
      position: relative;
      display: inline-block;
      border-radius: 3px;
      min-height: 30px;
      min-width: 40px;
      font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", sans-serif;
      font-weight: 500;
      font-size: 14px;
    }

    &__btn {
      background-color: #091e420a;
      border: none;
      font-size: 14px;
      max-height: 30px;
      min-width: 40px;
      opacity: 0.9;

      &:hover {
        background-color: #091e4214;
        border: none;
        box-shadow: none;
      }

    }
  }

  &__desc {
    &__icon {
      color: #42526E;
      transform: scale(1.2);
      margin-left: 2px;
    }

    &__text {
      font-size: 16px;
      color: #172B4D;
      font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", sans-serif;
      margin-left: 48px !important;
      max-height: 300px;
      font-weight: 400;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: rgba(185, 189, 197, 0.4);
        border-radius: 8px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: rgba(185, 189, 197, 0.8);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgba(185, 189, 197, 1);
      }

      &--empty {
        font-size: 14px;
        opacity: 0.8;
        background-color: #091e420a;
        border: none;
        border-radius: 3px;
        box-shadow: none;
        padding: 8px 12px;

        &:hover {
          background-color: #091e4214;
          border: none;
          box-shadow: none;
        }
      }
    }

    &__text-header {
      font-size: 16px;
      font-weight: 500;
      margin-left: 18px;
      color: #172B4D;
      padding-top: 6px;
      font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", sans-serif;
    }

    &__btn {
      text-transform: none;
      min-width: 65px;
      font-weight: 500;

      &--close {
        opacity: 0.7;

        &:hover {
          opacity: 0.9;
        }
      }

      &--edit {
        align-items: center;
        background-color: #091e420a;
        border: none;
        border-radius: 3px;
        box-shadow: none;
        color: #172b4d;
        font-size: 14px;
        font-weight: 400;
        padding: 6px 12px;
        margin-left: 10px;

        &:hover {
          background-color: #091e4214;
          border: none;
          box-shadow: none;
        }
      }

    }

    &__text--input {
      overflow-wrap: break-word;
      resize: none;
      min-height: 108px;
      box-shadow: inset 0 0 0 2px #0079bf;
      font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", sans-serif;

      .form-control:focus {
        box-shadow: none !important;
      }

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        background: rgba(185, 189, 197, 0.4);
        border-radius: 8px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        background: rgba(185, 189, 197, 0.8);
      }

      &::-webkit-scrollbar-thumb:hover {
        background: rgba(185, 189, 197, 1);
      }
    }
  }

  &__sidebar {
    &__header {
      font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", sans-serif;
      color: #5e6c84;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      margin-top: 16px;
    }

    &__btn {
      background-color: #EAECF0;
      font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", sans-serif;
      border: none;
      border-radius: 3px;
      box-shadow: none;
      color: #172b4d;
      font-size: 14px;
      font-weight: 400;
      padding: 6px 12px;
      text-align: start;
      width: 168px;

      &:hover {
        background-color: #E2E4E9;
        border: none;
        box-shadow: none;
      }
    }
  }

  &__modal {
    &__header {
      height: 32px;
      border-bottom: 1px solid #091e4221;
      box-sizing: border-box;
      margin: 0 12px;
      text-align: center;
      color: #5e6c84;
      font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", sans-serif;
    }

    &__text {
      color: #5e6c84;
      width: 200px;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      margin-top: 16px;
      margin-bottom: 4px;
      font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", sans-serif;

    }

    &__input {
      box-shadow: inset 0 0 0 2px #0079bf;
      font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", sans-serif;
    }

    &__card {
      width: 270px;

      &--edit {
        height: 270px;
      }
    }

    &__btn {
      text-transform: none;
      min-width: 65px;
      font-weight: 500;
      color: #172B4D;

      &:hover {
        background-color: #091e4214;
      }

    }

    &__change-btn {
      position: absolute;
      top: 0;
      left: 5px;
      border: none;
      background: none;
      transform: scale(0.8);
      font-weight: 400;
      opacity: 0.5;

      &:hover {
        opacity: 0.75;
      }
    }

    &__add-btn {
      width: 265px;
      margin-left: 2px;
    }
  }

  &__bottom-btn {
    min-width: 70px;
    min-height: 40px;
    border: 2px solid #00c851;
    text-transform: none;
  }

  &__m-close-btn {
    font-weight: 400;
    transform: scale(0.9);
  }

}

.radio-group {
  position: relative;

  input[type="radio"] {
    opacity: 0;
    width: 0;

    &:checked ~ label {
      display: inline-block;
      color: white;

      .radio-group--icon {
        display: inline-block;
        position: absolute;
        top: 30%;
        right: 35%;
      }
    }
  }

  label {
    position: relative;
    width: 50px;
    height: 32px;
    background-color: #ddd;
    padding: 5px 10px;
    margin: 1px 2px;
    border-radius: 3px;
  }

  &--fade {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.09);
    }
  }

  &--icon {
    display: none;
  }
}

.checkbox-group {
  height: 40px;

  input[type="checkbox"] {
    opacity: 0;
    width: 0;

    &:checked ~ label {
      display: inline-block;

      p {
        color: #172B4D;
      }

      .checkbox-group--icon {
        display: inline-block;
        position: absolute;
        top: 14%;
        right: 3%;
        transform: scale(0.7);
        padding: 4px;
        background-color: white;
        border-radius: 50%;
        font-weight: 600;

        &--reverse {
          color: white;
          background-color: black;
        }
      }
    }
  }

  label {
    position: relative;
    width: 230px;
    height: 32px;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 10px;
    margin: 1px 2px;
    border-radius: 3px;
    font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", sans-serif;

    &:hover {
      padding-left: 14px;
    }
  }

  &--fade {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3px;

    &:hover:before {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 222px;
      background-color: rgba(0, 0, 0, 0.20);
      border-radius: 3px 0 0 3px;
    }
  }


  &--icon {
    display: none;
  }

  &__btn-edit {
    border: none;
    color: #42526e;
    transform: scale(0.85);
    background-color: #F4F5F7;
    padding: 7px 10px;
    margin: 0;
    border-radius: 5px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.09);
    }
  }

}

