<!-- Modal window -->
<div mdbModal class="modal-side modal-top-right" tabindex="-1" role="dialog" aria-labelledby="modalAddBoard"
     aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded">
      <!-- Modal header -->
      <div class="modal-header form__header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeBoard()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="modalTitle">Edit board {{board.boardName}}</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body d-flex flex-column justify-content-start">
        <img class="align-self-center p-2 mb-2" src="./assets/images/add-board-preview-img.svg"
             alt="board preview image" [style.background-color]=this.editBoardForm.value.boardBackground>
        <!-- Add board form -->
        <form class=" pb-0 mb-0 px-2 mx-2" [formGroup]="editBoardForm">
          <!-- Background color -->
          <div class="text-left">
            Select board background
          </div>
          <ul class="row no-gutters m-0 text-center">
            <li class="radio-group col-3" *ngFor="let item of bgBoard; let i = index">
              <input type="radio" formControlName="boardBackground" [value]="item.boardBackground" id="{{i}}"
                     name="boardBackground" mdbInput>
              <label for="{{i}}" [style.background-color]=item.boardBackground>
                <mdb-icon fas icon="check" class="radio-group--icon"></mdb-icon>
                <span class="radio-group--fade"></span>
              </label>
            </li>
          </ul>
          <!-- Name -->
          <div class="md-form">
            <input mdbInput mdbValidate formControlName="boardName" autocomplete="off"
                   type="text" class="form-control" id="nameBoard">
            <label for="nameBoard">Enter a board name*</label>
            <mdb-error *ngIf="boardNameForm.invalid && (boardNameForm.dirty || boardNameForm.touched)">
              <span *ngIf="boardNameForm.errors.required">Board name is required</span>
              <span *ngIf="boardNameForm.errors.maxlength">Please enter at most 15 characters</span>
            </mdb-error>
          </div>
        </form>
        <!-- Delete button -->
        <button type="button" mdbBtn color="outline-danger" class="waves-light relative rounded align-self-center mb-4"
                aria-label="Delete"
                (click)="basicModal.show()"
                mdbWavesEffect>Delete board
        </button>
        <!-- Modal window for confirm delete -->
        <div mdbModal #basicModal="mdbModal" class="modal modal-frame modal-bottom" tabindex="-1" role="dialog"
             aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: false}">
          <div class="modal-dialog modal-frame modal-bottom" role="document">
            <div class="modal-content  modal-delete">
              <!-- Modal body -->
              <div class="modal-body d-flex flex-column align-items-center">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                <p style="font-size: 1.2em; font-weight: bold" class="mb-0">Delete {{board.boardName}} board?</p>
                <!-- Confirm delete button-->
                <button type="button" mdbBtn color="danger" class="waves-light relative rounded align-self-center"
                        aria-label="Delete" (click)="deleteBoard(this.editBoardForm.value.boardId)" mdbWavesEffect>
                  Confirm delete
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Cancel button -->
        <div class="modal-footer justify-content-center mx-0 px-0">
          <button type="button" mdbBtn color="secondary" class="waves-light relative rounded" aria-label="Close"
                  (click)="closeBoard()"
                  mdbWavesEffect>Cancel
          </button>
          <!-- Submit button -->
          <button type="submit" mdbBtn color="primary" class="waves-light relative rounded"
                  (click)="editBoard(this.editBoardForm.value)"
                  mdbWavesEffect>Edit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
