body {

  background-color: salmon;
}
.container {
  background-color: salmon;
  width: 30vw;
  margin: 0 auto;
}
.page-space {
  background-color: salmon;
  display: block;
  height: 100px;
  margin: 0 auto;
 }

