<div class="container">
  <!-- Favorite boards -->
    <!-- Boards header -->
    <h3 *ngIf="boards| favoriteHeader:boards" class="mt-4 boards__header">Favorites boards:</h3>
    <ul class="mt-4 d-flex flex-wrap align-items-center">
      <li *ngFor="let item of boards | favoriteBoards:boards" class="board__list m-2 z-depth-1"
          [style.background]=item.boardBackground>
        <div class="d-flex flex-column justify-content-between board__content">
          <!-- Board link -->
          <a [routerLink]="['board', item.boardId]" class="board__link"> </a>
          <div class="d-flex justify-content-between">
            <!-- Board name -->
            <h4 class="board__name">{{item.boardName}}</h4>
            <!-- Board favorite button -->
            <button type="button" class="board__btn" (click)="toggleFavorite(item)">
              <icon class="fa-star" [class.far]="!item.isFavorite" [class.fas]="item.isFavorite"
                    [class.favorite]="item.isFavorite"></icon>
            </button>
          </div>
          <!-- Board edit button -->
          <button type="button" class="align-self-end board__btn" (click)="openEditBoard(item.boardId)">
            <mdb-icon fas icon="pencil-alt"></mdb-icon>
          </button>
        </div>
      </li>
    </ul>
  <!-- Boards -->
  <!-- Boards header -->
  <h3 class="mt-4  boards__header">Boards gallery:</h3>
  <!-- Boards list -->
  <ul class="mt-4 d-flex flex-wrap align-items-center">
    <li *ngFor="let item of boards" class="board__list m-2 z-depth-1" [style.background]=item.boardBackground>
      <!-- Board content -->
      <div class="d-flex flex-column justify-content-between board__content">
        <!-- Board link -->
        <a [routerLink]="['board', item.boardId]" class="board__link"> </a>
        <div class="d-flex justify-content-between">
          <!-- Board name -->
          <h4 class="board__name">{{item.boardName}}</h4>
          <!-- Board favorite button -->
          <button type="button" class="board__btn" (click)="toggleFavorite(item)">
            <icon class="fa-star" [class.far]="!item.isFavorite" [class.fas]="item.isFavorite"
                  [class.favorite]="item.isFavorite"></icon>
          </button>
        </div>
        <!-- Board edit button -->
        <button type="button" class="align-self-end board__btn" (click)="openEditBoard(item.boardId)">
          <mdb-icon fas icon="pencil-alt"></mdb-icon>
        </button>
      </div>

    </li>
    <!-- Add new board -->
    <button class="board__list m-2 board__btn-add" (click)="openAddBoard()">
      Add new board
    </button>
  </ul>
</div>
