.container {
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;

}

.board {
  &__box {

    height: 90px;
    width: 160px;
    border: black solid 1px;
    border-radius: 3px;
  }

  &__name {

  }
}
